@media (max-width: 768px){
    .main-container .card-container{
        display: grid;
        grid-template-rows: 400px;
        grid-template-columns: 350px
    }

    .main-container .result-container .reset-button{
        margin-top: 20px;
        left: 30px;
    }
}

@media (max-width: 375px){
    .main-container .card-container{
        display: grid;
        grid-template-rows: 300px;
        grid-template-columns: 280px
    }
}